In [97]:
# from google.colab import files

# uploaded = files.upload()

# for fn in uploaded.keys():
#   print('User uploaded file "{name}" with length {length} bytes'.format(
#       name=fn, length=len(uploaded[fn])))

In [136]:
import warnings
from sklearn.exceptions import UndefinedMetricWarning
from sklearn.metrics import classification_report, confusion_matrix

# Before calling metrics functions, suppress the warning
warnings.filterwarnings('ignore', category=UndefinedMetricWarning)

# Now you can call classification_report and confusion_matrix without seeing the warning
print(classification_report(y_test_class, y_pred_class))
print(confusion_matrix(y_test_class, y_pred_class))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        11
           1       0.68      1.00      0.81        13
           2       0.00      0.00      0.00         6

    accuracy                           0.80        30
   macro avg       0.56      0.67      0.60        30
weighted avg       0.66      0.80      0.72        30

[[11  0  0]
 [ 0 13  0]
 [ 0  6  0]]

In [137]:
import pandas as pd
import io

In [138]:
data=pd.read_csv(r'D:\archive\iris.csv')
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [139]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.optimizers import Adam
import pydot
import graphviz
from IPython.display import SVG
from keras.utils.vis_utils import model_to_dot
from keras.utils import plot_model
import seaborn as sns
import pandas as pd
import numpy as np

In [140]:
dataset = pd.read_csv(r'D:\archive\iris.csv')
dataset

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [141]:
dataset=dataset.drop(columns=['Id'])

In [142]:
dataset.columns

Index(['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [143]:
# X = dataset.drop(columns=['Species'])
# y = dataset['Species']

# from sklearn.preprocessing import LabelEncoder
# encoder =  LabelEncoder()
# y = encoder.fit_transform(y)
# Y = pd.get_dummies(y) 
one_hot_encoded_data = pd.get_dummies(dataset, columns = ['Species'],dtype=bool)
data = one_hot_encoded_data
X = one_hot_encoded_data.drop(columns=['Species_Iris-setosa', 'Species_Iris-versicolor',
       'Species_Iris-virginica'])
Y = one_hot_encoded_data[['Species_Iris-setosa', 'Species_Iris-versicolor',
       'Species_Iris-virginica']]

X_values=X.values
Y_values=Y.values

from sklearn.model_selection import train_test_split
X_train,X_test, y_train,y_test = train_test_split(X_values,Y_values,test_size=0.2,random_state=0)

In [144]:
# print(df.columns)
# print(df.head())
r=Y.columns
r=np.array(r)

In [145]:
Y.value_counts()

Species_Iris-setosa  Species_Iris-versicolor  Species_Iris-virginica
False                False                    True                      50
                     True                     False                     50
True                 False                    False                     50
Name: count, dtype: int64

In [146]:
X.shape

(150, 4)

In [147]:
Y.shape

(150, 3)

In [148]:
Y.shape

(150, 3)

In [149]:
X

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [150]:
Y

     Species_Iris-setosa  Species_Iris-versicolor  Species_Iris-virginica
0                   True                    False                   False
1                   True                    False                   False
2                   True                    False                   False
3                   True                    False                   False
4                   True                    False                   False
..                   ...                      ...                     ...
145                False                    False                    True
146                False                    False                    True
147                False                    False                    True
148                False                    False                    True
149                False                    False                    True

[150 rows x 3 columns]

In [151]:
# y1

In [152]:
Y

     Species_Iris-setosa  Species_Iris-versicolor  Species_Iris-virginica
0                   True                    False                   False
1                   True                    False                   False
2                   True                    False                   False
3                   True                    False                   False
4                   True                    False                   False
..                   ...                      ...                     ...
145                False                    False                    True
146                False                    False                    True
147                False                    False                    True
148                False                    False                    True
149                False                    False                    True

[150 rows x 3 columns]

In [153]:
model = Sequential()

model.add(Dense(4,input_shape=(4,), activation='relu'))

model.add(Dense(3, activation='softmax'))

In [154]:
model.compile(optimizer="Adam", loss='categorical_crossentropy', metrics=['accuracy'])

In [155]:
# Assuming y_train is one-hot encoded
y_train_labels = np.argmax(y_train, axis=1)

In [156]:
y_train_labels

array([2, 1, 0, 2, 2, 1, 0, 1, 1, 1, 2, 0, 2, 0, 0, 1, 2, 2, 2, 2, 1, 2,
       1, 1, 2, 2, 2, 2, 1, 2, 1, 0, 2, 1, 1, 1, 1, 2, 0, 0, 2, 1, 0, 0,
       1, 0, 2, 1, 0, 1, 2, 1, 0, 2, 2, 2, 2, 0, 0, 2, 2, 0, 2, 0, 2, 2,
       0, 0, 2, 0, 0, 0, 1, 2, 2, 0, 0, 0, 1, 1, 0, 0, 1, 0, 2, 1, 2, 1,
       0, 2, 0, 2, 0, 0, 2, 0, 2, 1, 1, 1, 2, 2, 1, 1, 0, 1, 2, 2, 0, 1,
       1, 1, 1, 0, 0, 0, 2, 1, 2, 0], dtype=int64)

In [157]:
y_train_labels.shape

(120,)

In [158]:
from keras.utils import to_categorical

# Assuming y_train_labels is the original class labels (e.g., [0, 1, 2])
# Convert the class labels to one-hot encoded format
y_train_labels_one_hot = to_categorical(y_train_labels)

# Now, y_train_labels_one_hot will have shape (num_samples, num_classes)
# For example, if you have 3 classes and 10 samples, the shape will be (10, 3)

In [159]:
model.fit(X_train, y_train_labels_one_hot, batch_size=10, epochs=100)

Epoch 1/100
12/12 [==============================] - 0s 1ms/step - loss: 7.6257 - accuracy: 0.3250
Epoch 2/100
12/12 [==============================] - 0s 1ms/step - loss: 7.1584 - accuracy: 0.3250
Epoch 3/100
12/12 [==============================] - 0s 1ms/step - loss: 6.7069 - accuracy: 0.3250
Epoch 4/100
12/12 [==============================] - 0s 1ms/step - loss: 6.2672 - accuracy: 0.3250
Epoch 5/100
12/12 [==============================] - 0s 2ms/step - loss: 5.8619 - accuracy: 0.3250
Epoch 6/100
12/12 [==============================] - 0s 1ms/step - loss: 5.4482 - accuracy: 0.3250
Epoch 7/100
12/12 [==============================] - 0s 1ms/step - loss: 5.0929 - accuracy: 0.3250
Epoch 8/100
12/12 [==============================] - 0s 1ms/step - loss: 4.7242 - accuracy: 0.3250
Epoch 9/100
12/12 [==============================] - 0s 1ms/step - loss: 4.3906 - accuracy: 0.3250
Epoch 10/100
12/12 [==============================] - 0s 2ms/step - loss: 4.0899 - accuracy: 0.3250
Epoch 11/100
12/12 [==============================] - 0s 1ms/step - loss: 3.7852 - accuracy: 0.3250
Epoch 12/100
12/12 [==============================] - 0s 1ms/step - loss: 3.5183 - accuracy: 0.3250
Epoch 13/100
12/12 [==============================] - 0s 1ms/step - loss: 3.2766 - accuracy: 0.3250
Epoch 14/100
12/12 [==============================] - 0s 4ms/step - loss: 3.0403 - accuracy: 0.3250
Epoch 15/100
12/12 [==============================] - 0s 2ms/step - loss: 2.8321 - accuracy: 0.3250
Epoch 16/100
12/12 [==============================] - 0s 2ms/step - loss: 2.6418 - accuracy: 0.3250
Epoch 17/100
12/12 [==============================] - 0s 1ms/step - loss: 2.4842 - accuracy: 0.3167
Epoch 18/100
12/12 [==============================] - 0s 1ms/step - loss: 2.3240 - accuracy: 0.2583
Epoch 19/100
12/12 [==============================] - 0s 2ms/step - loss: 2.1810 - accuracy: 0.1667
Epoch 20/100
12/12 [==============================] - 0s 1ms/step - loss: 2.0643 - accuracy: 0.0750
Epoch 21/100
12/12 [==============================] - 0s 2ms/step - loss: 1.9495 - accuracy: 0.0333
Epoch 22/100
12/12 [==============================] - 0s 1ms/step - loss: 1.8476 - accuracy: 0.0000e+00
Epoch 23/100
12/12 [==============================] - 0s 2ms/step - loss: 1.7560 - accuracy: 0.0000e+00
Epoch 24/100
12/12 [==============================] - 0s 2ms/step - loss: 1.6614 - accuracy: 0.0000e+00
Epoch 25/100
12/12 [==============================] - 0s 1ms/step - loss: 1.5754 - accuracy: 0.0000e+00
Epoch 26/100
12/12 [==============================] - 0s 2ms/step - loss: 1.5023 - accuracy: 0.0000e+00
Epoch 27/100
12/12 [==============================] - 0s 2ms/step - loss: 1.4361 - accuracy: 0.0000e+00
Epoch 28/100
12/12 [==============================] - 0s 2ms/step - loss: 1.3896 - accuracy: 0.0000e+00
Epoch 29/100
12/12 [==============================] - 0s 1ms/step - loss: 1.3548 - accuracy: 0.0000e+00
Epoch 30/100
12/12 [==============================] - 0s 1ms/step - loss: 1.3260 - accuracy: 0.0250
Epoch 31/100
12/12 [==============================] - 0s 2ms/step - loss: 1.3004 - accuracy: 0.0333
Epoch 32/100
12/12 [==============================] - 0s 2ms/step - loss: 1.2793 - accuracy: 0.0667
Epoch 33/100
12/12 [==============================] - 0s 1ms/step - loss: 1.2603 - accuracy: 0.0833
Epoch 34/100
12/12 [==============================] - 0s 1ms/step - loss: 1.2432 - accuracy: 0.1417
Epoch 35/100
12/12 [==============================] - 0s 1ms/step - loss: 1.2278 - accuracy: 0.1833
Epoch 36/100
12/12 [==============================] - 0s 2ms/step - loss: 1.2132 - accuracy: 0.2083
Epoch 37/100
12/12 [==============================] - 0s 2ms/step - loss: 1.2007 - accuracy: 0.2667
Epoch 38/100
12/12 [==============================] - 0s 3ms/step - loss: 1.1887 - accuracy: 0.3083
Epoch 39/100
12/12 [==============================] - 0s 2ms/step - loss: 1.1790 - accuracy: 0.3083
Epoch 40/100
12/12 [==============================] - 0s 2ms/step - loss: 1.1702 - accuracy: 0.3500
Epoch 41/100
12/12 [==============================] - 0s 1ms/step - loss: 1.1622 - accuracy: 0.3500
Epoch 42/100
12/12 [==============================] - 0s 1ms/step - loss: 1.1560 - accuracy: 0.3833
Epoch 43/100
12/12 [==============================] - 0s 2ms/step - loss: 1.1503 - accuracy: 0.3833
Epoch 44/100
12/12 [==============================] - 0s 2ms/step - loss: 1.1457 - accuracy: 0.4000
Epoch 45/100
12/12 [==============================] - 0s 1ms/step - loss: 1.1419 - accuracy: 0.3833
Epoch 46/100
12/12 [==============================] - 0s 2ms/step - loss: 1.1384 - accuracy: 0.3667
Epoch 47/100
12/12 [==============================] - 0s 2ms/step - loss: 1.1356 - accuracy: 0.3750
Epoch 48/100
12/12 [==============================] - 0s 2ms/step - loss: 1.1324 - accuracy: 0.4083
Epoch 49/100
12/12 [==============================] - 0s 3ms/step - loss: 1.1295 - accuracy: 0.4000
Epoch 50/100
12/12 [==============================] - 0s 2ms/step - loss: 1.1275 - accuracy: 0.4000
Epoch 51/100
12/12 [==============================] - 0s 2ms/step - loss: 1.1252 - accuracy: 0.4083
Epoch 52/100
12/12 [==============================] - 0s 2ms/step - loss: 1.1236 - accuracy: 0.4167
Epoch 53/100
12/12 [==============================] - 0s 1ms/step - loss: 1.1222 - accuracy: 0.4167
Epoch 54/100
12/12 [==============================] - 0s 1ms/step - loss: 1.1209 - accuracy: 0.4083
Epoch 55/100
12/12 [==============================] - 0s 1ms/step - loss: 1.1199 - accuracy: 0.4167
Epoch 56/100
12/12 [==============================] - 0s 1ms/step - loss: 1.1190 - accuracy: 0.3917
Epoch 57/100
12/12 [==============================] - 0s 1ms/step - loss: 1.1181 - accuracy: 0.3833
Epoch 58/100
12/12 [==============================] - 0s 1ms/step - loss: 1.1172 - accuracy: 0.4000
Epoch 59/100
12/12 [==============================] - 0s 1ms/step - loss: 1.1165 - accuracy: 0.4083
Epoch 60/100
12/12 [==============================] - 0s 1ms/step - loss: 1.1159 - accuracy: 0.4083
Epoch 61/100
12/12 [==============================] - 0s 2ms/step - loss: 1.1155 - accuracy: 0.3917
Epoch 62/100
12/12 [==============================] - 0s 2ms/step - loss: 1.1149 - accuracy: 0.3583
Epoch 63/100
12/12 [==============================] - 0s 1ms/step - loss: 1.1145 - accuracy: 0.3583
Epoch 64/100
12/12 [==============================] - 0s 1ms/step - loss: 1.1139 - accuracy: 0.3583
Epoch 65/100
12/12 [==============================] - 0s 1ms/step - loss: 1.1134 - accuracy: 0.3583
Epoch 66/100
12/12 [==============================] - 0s 1ms/step - loss: 1.1130 - accuracy: 0.3583
Epoch 67/100
12/12 [==============================] - 0s 1ms/step - loss: 1.1124 - accuracy: 0.3583
Epoch 68/100
12/12 [==============================] - 0s 1ms/step - loss: 1.1119 - accuracy: 0.3583
Epoch 69/100
12/12 [==============================] - 0s 1ms/step - loss: 1.1115 - accuracy: 0.3583
Epoch 70/100
12/12 [==============================] - 0s 1ms/step - loss: 1.1112 - accuracy: 0.3583
Epoch 71/100
12/12 [==============================] - 0s 1ms/step - loss: 1.1106 - accuracy: 0.3583
Epoch 72/100
12/12 [==============================] - 0s 1ms/step - loss: 1.1103 - accuracy: 0.3583
Epoch 73/100
12/12 [==============================] - 0s 1ms/step - loss: 1.1099 - accuracy: 0.3583
Epoch 74/100
12/12 [==============================] - 0s 1ms/step - loss: 1.1095 - accuracy: 0.3583
Epoch 75/100
12/12 [==============================] - 0s 4ms/step - loss: 1.1091 - accuracy: 0.3583
Epoch 76/100
12/12 [==============================] - 0s 2ms/step - loss: 1.1088 - accuracy: 0.3583
Epoch 77/100
12/12 [==============================] - 0s 1ms/step - loss: 1.1083 - accuracy: 0.3583
Epoch 78/100
12/12 [==============================] - 0s 1ms/step - loss: 1.1081 - accuracy: 0.3583
Epoch 79/100
12/12 [==============================] - 0s 2ms/step - loss: 1.1077 - accuracy: 0.3583
Epoch 80/100
12/12 [==============================] - 0s 1ms/step - loss: 1.1074 - accuracy: 0.3583
Epoch 81/100
12/12 [==============================] - 0s 1ms/step - loss: 1.1072 - accuracy: 0.3583
Epoch 82/100
12/12 [==============================] - 0s 1ms/step - loss: 1.1067 - accuracy: 0.3583
Epoch 83/100
12/12 [==============================] - 0s 1ms/step - loss: 1.1064 - accuracy: 0.3583
Epoch 84/100
12/12 [==============================] - 0s 2ms/step - loss: 1.1062 - accuracy: 0.3583
Epoch 85/100
12/12 [==============================] - 0s 1ms/step - loss: 1.1059 - accuracy: 0.3583
Epoch 86/100
12/12 [==============================] - 0s 1ms/step - loss: 1.1056 - accuracy: 0.3583
Epoch 87/100
12/12 [==============================] - 0s 1ms/step - loss: 1.1053 - accuracy: 0.3583
Epoch 88/100
12/12 [==============================] - 0s 1ms/step - loss: 1.1051 - accuracy: 0.3583
Epoch 89/100
12/12 [==============================] - 0s 1ms/step - loss: 1.1048 - accuracy: 0.3583
Epoch 90/100
12/12 [==============================] - 0s 1ms/step - loss: 1.1045 - accuracy: 0.3583
Epoch 91/100
12/12 [==============================] - 0s 1ms/step - loss: 1.1043 - accuracy: 0.3583
Epoch 92/100
12/12 [==============================] - 0s 1ms/step - loss: 1.1041 - accuracy: 0.3583
Epoch 93/100
12/12 [==============================] - 0s 1ms/step - loss: 1.1038 - accuracy: 0.3583
Epoch 94/100
12/12 [==============================] - 0s 1ms/step - loss: 1.1035 - accuracy: 0.3583
Epoch 95/100
12/12 [==============================] - 0s 1ms/step - loss: 1.1033 - accuracy: 0.3583
Epoch 96/100
12/12 [==============================] - 0s 2ms/step - loss: 1.1031 - accuracy: 0.3667
Epoch 97/100
12/12 [==============================] - 0s 1ms/step - loss: 1.1028 - accuracy: 0.3667
Epoch 98/100
12/12 [==============================] - 0s 1ms/step - loss: 1.1025 - accuracy: 0.3667
Epoch 99/100
12/12 [==============================] - 0s 1ms/step - loss: 1.1024 - accuracy: 0.3667
Epoch 100/100
12/12 [==============================] - 0s 1ms/step - loss: 1.1021 - accuracy: 0.3667

In [160]:
# Obtain predicted class labels using your trained model and testing input features
y_pred = model.predict(X_test)
y_pred_class = np.argmax(y_pred, axis=1)  # Convert probabilities to class labels

# Define true class labels by extracting them from testing target variable
y_test_class = np.argmax(y_test, axis=1)  # If y_test is one-hot encoded

1/1 [==============================] - 0s 55ms/step

In [161]:
from sklearn.metrics import classification_report,confusion_matrix
print(classification_report(y_test_class,y_pred_class))
print(confusion_matrix(y_test_class,y_pred_class))
# from sklearn.metrics import classification_report, confusion_matrix

# print(classification_report(y_test_class, y_pred_class))
# print(confusion_matrix(y_test_class, y_pred_class))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00        11
           1       0.00      0.00      0.00        13
           2       0.20      1.00      0.33         6

    accuracy                           0.20        30
   macro avg       0.07      0.33      0.11        30
weighted avg       0.04      0.20      0.07        30

[[ 0  0 11]
 [ 0  0 13]
 [ 0  0  6]]

In [162]:
(12+5+8)/30

0.8333333333333334

In [163]:
# Assuming your testing data is in the format (X_test, y_test)
# Where X_test contains the features and y_test contains the true labels

# Define y_test_labels by extracting true labels from y_test
y_test_labels = np.argmax(y_test, axis=1)  # If y_test is one-hot encoded

In [164]:
from keras.utils import to_categorical

# One-hot encode y_test_labels
y_test_one_hot = to_categorical(y_test_labels)

In [165]:
# Evaluate the model
model.evaluate(X_test, y_test_one_hot)

1/1 [==============================] - 0s 148ms/step - loss: 1.1271 - accuracy: 0.2000

[1.1271189451217651, 0.20000000298023224]

In [166]:
# Predict for the first 10 Observations
pred=model.predict(X_test[:10])
print(pred)

1/1 [==============================] - 0s 26ms/step
[[0.28013617 0.34472185 0.37514195]
 [0.30416033 0.31521225 0.38062745]
 [0.28013617 0.34472185 0.37514195]
 [0.3292254  0.28722227 0.3835523 ]
 [0.28013617 0.34472185 0.37514195]
 [0.28013617 0.34472185 0.37514195]
 [0.28013617 0.34472185 0.37514195]
 [0.28013617 0.34472185 0.37514195]
 [0.28013617 0.34472188 0.37514198]
 [0.28013617 0.34472188 0.37514198]]

In [167]:
p=np.argmax(pred, axis=1)
print(p)
print(y_test[:10])

[2 2 2 2 2 2 2 2 2 2]
[[False False  True]
 [False  True False]
 [ True False False]
 [False False  True]
 [ True False False]
 [False False  True]
 [ True False False]
 [False  True False]
 [False  True False]
 [False  True False]]

In [168]:
# z = data.

In [169]:
# Prediction Result
for i in range(len(p)):
    print("Predicted-Class: {},   Name: {}".format(p[i], Y.columns[p[i]]))

Predicted-Class: 2,   Name: Species_Iris-virginica
Predicted-Class: 2,   Name: Species_Iris-virginica
Predicted-Class: 2,   Name: Species_Iris-virginica
Predicted-Class: 2,   Name: Species_Iris-virginica
Predicted-Class: 2,   Name: Species_Iris-virginica
Predicted-Class: 2,   Name: Species_Iris-virginica
Predicted-Class: 2,   Name: Species_Iris-virginica
Predicted-Class: 2,   Name: Species_Iris-virginica
Predicted-Class: 2,   Name: Species_Iris-virginica
Predicted-Class: 2,   Name: Species_Iris-virginica